autoconfig.rnc

# RELAX NG compact syntax schema for the Mail Autoconfig configuration file.
#
# This schema implements the must-ignore rule of Section "XML validation":
# unknown attributes, unknown child elements and unknown values are accepted
# rather than being rejected, so that clients can ignore them.

default namespace = ""
datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = clientConfig

# --- Wildcards used to implement the must-ignore rule -----------------------

# Any attribute (used on elements that define no attributes of their own).
anyAttr = attribute * { text }

# Any element at all, with any attributes and any content. Used inside
# foreign (extension) subtrees, where everything is unknown and ignored.
anyElement = element * { ( anyAttr | text | anyElement )* }

# Any element whose name is NOT defined by this schema. Placed at every
# extension point so that unknown elements validate, while known elements
# are still matched (and validated) by their own patterns.
extensionElement =
  element * - ( clientConfig | emailProvider | domain | displayName
              | displayShortName | documentation | descr | incomingServer
              | outgoingServer | calendar | addressbook | fileShare
              | chatServer | videoConference | setupServer | url | hostname
              | port | socketType | authentication | username | oAuth2
              | authURL | tokenURL | issuer | scope | clientID | clientSecret
              | clientConfigUpdate ) {
    ( anyAttr | text | anyElement )*
  }

# --- Global structure -------------------------------------------------------

clientConfig =
  element clientConfig {
    attribute version { text },                  # e.g. "1.1" or "1.2"
    ( attribute * - version { text } )*,
    ( emailProvider | calendar | addressbook | fileShare | chatServer
    | videoConference | setupServer | oAuth2 | clientConfigUpdate
    | extensionElement )*
  }

emailProvider =
  element emailProvider {
    attribute id { text },
    ( attribute * - id { text } )*,
    ( domain | displayName | displayShortName | documentation
    | incomingServer | outgoingServer | extensionElement )*
  }

domain =
  element domain {
    attribute purpose { text }?,                 # the only defined value is "mx"
    ( attribute * - purpose { text } )*,
    text
  }

displayName      = element displayName      { anyAttr*, text }
displayShortName = element displayShortName { anyAttr*, text }

documentation =
  element documentation {
    attribute url { text },
    ( attribute * - url { text } )*,
    ( descr | extensionElement )*
  }

descr =
  element descr {
    attribute lang { text }?,                    # 2-letter ISO language code
    ( attribute * - lang { text } )*,
    text
  }

# --- Server sections --------------------------------------------------------
#
# incomingServer, outgoingServer, calendar, addressbook, fileShare,
# chatServer, videoConference and setupServer all share the same body.
# Every child element is optional and may appear in any order; a section
# that lacks the information needed for its protocol is simply ignored by
# the client (Section "XML validation").

serverSection =
  attribute type { text },                       # see the IANA registry
  ( attribute * - type { text } )*,
  ( url | hostname | port | socketType | authentication | username
  | extensionElement )*

incomingServer  = element incomingServer  { serverSection }
outgoingServer  = element outgoingServer  { serverSection }
calendar        = element calendar        { serverSection }
addressbook     = element addressbook     { serverSection }
fileShare       = element fileShare       { serverSection }
chatServer      = element chatServer      { serverSection }
videoConference = element videoConference { serverSection }
setupServer     = element setupServer     { serverSection }

# --- Server child elements --------------------------------------------------

url        = element url        { anyAttr*, text }
hostname   = element hostname   { anyAttr*, text }
port       = element port       { anyAttr*, xsd:positiveInteger }   # 1-65535
socketType = element socketType { anyAttr*, text }   # "SSL" / "STARTTLS" / "plain"
username   = element username   { anyAttr*, text }

authentication =
  element authentication {
    attribute system { text }?,                  # "http" or "sasl"
    ( attribute * - system { text } )*,
    text                                         # e.g. "password-cleartext", "OAuth2"
  }

# --- OAuth2 -----------------------------------------------------------------

oAuth2 =
  element oAuth2 {
    anyAttr*,
    ( authURL | tokenURL | issuer | scope | clientID | clientSecret
    | extensionElement )*
  }

authURL      = element authURL      { anyAttr*, text }
tokenURL     = element tokenURL     { anyAttr*, text }
issuer       = element issuer       { anyAttr*, text }
scope        = element scope        { anyAttr*, text }
clientID     = element clientID     { anyAttr*, text }
clientSecret = element clientSecret { anyAttr*, text }

# --- Configuration update ---------------------------------------------------

clientConfigUpdate =
  element clientConfigUpdate {
    attribute url { text },
    ( attribute * - url { text } )*,
    ( extensionElement )*
  }
